/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h1 {
    margin-right: 20px; /* เพิ่ม margin ทางด้านขวาของ h1 */
    /* หรือ */
    padding-right: 20px; /*เพิ่ม padding ทางด้านขวาของ h1 */
}


/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #cc5500;
}

/* Content Section Styles */
.content {
    padding: 50px 0;
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}